<mat-card>
  <form (submit)="onCreateTask(taskFrom)" #taskFrom="ngForm">
    <mat-form-field>
      <mat-label>Todo Title</mat-label>
      <input
      matInput
      type="text"
      name="title"
      ngModel
      required
      #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Todo Description</mat-label>
      <textarea
        matInput
        name="description"
        ngModel
        required
        placeholder="Ex. It makes me feel..."
        #description="ngModel">
      </textarea>
      <mat-error *ngIf="description.invalid">Please enter description.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary"  type="submit"> Create </button>
  </form>
</mat-card>
