<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading">
  <form [formGroup]="taskForm" (submit)="onSaveTask()">

    <!-- title form  -->
    <mat-form-field>
      <mat-label>Todo Title</mat-label>
      <input
      matInput
      type="text"
      name="title"
      formControlName='title'
      />
      <mat-error *ngIf="taskForm.get('title').invalid">Please enter title.</mat-error>
    </mat-form-field>

    <!-- image picker -->
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick image</button>
      <input class="file-chooser" type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <!-- image preview -->
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== ''">
      <img [src]="imagePreview" [alt]='taskForm.value.title' />
    </div>

    <!-- description from  -->
    <mat-form-field>
      <mat-label>Todo Description</mat-label>
      <textarea
        matInput
        name="description"
        formControlName="description"
        placeholder="Ex. It makes me feel...">
      </textarea>
      <mat-error *ngIf="taskForm.get('description').invalid">Please enter description.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary"  type="submit"> {{ mode | uppercase}} </button>
  </form>
</mat-card>
