:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.task-image{
  width: 100%;
}

.task-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
}
