<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion >
  <mat-expansion-panel *ngFor="let task of storedTasks">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ task.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="task-image">
      <img [src]="task.imagePath" [alt]="task.title">
    </div>
    <p class="dis">
      {{ task.description }}
    </p>
    <mat-action-row *ngIf="userIsAuthenticated && task.creator === userId">
      <button mat-button color="primary" [routerLink]="['/edit',  task._id]">Edit</button>
      <button mat-button color="warn" (click)="onDelete(task._id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- pagination -->
<mat-paginator *ngIf="storedTasks?.length != 0 && !isLoading" [length]="totalTasks"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangePage($event)"
              aria-label="Select page">
</mat-paginator>

<p class="info-text mat-panel-title" *ngIf="storedTasks?.length <= 0 && !isLoading">
  No tasks haven't added yet.
</p>
