<mat-toolbar color="primary">
  <span>
    <a routerLink="">Todo List App</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated"><a mat-flat-button color="accent" routerLink="/create" routerLinkActive="mat-warn">Create</a></li>
    <li *ngIf="!userIsAuthenticated"><a mat-flat-button color="accent" routerLink="/login" routerLinkActive="mat-warn">Login</a></li>
    <li *ngIf="!userIsAuthenticated"><a mat-flat-button color="accent" routerLink="/signup" routerLinkActive="mat-warn">Signup</a></li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogOut()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
